.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
  .navbar-brand {
    float: none;
    font-size: 24px;
  }
}
