@import '../base/vars';

.Movies {
  margin-bottom: 20px;
  .results-length {
    margin: 20px 0;
  }
  .MovieSearch {
    position: relative;
    margin-bottom: 20px;
    i {
      font-size: 24px;
      position: absolute;
      top: 13px;
      color: #aaa;
      &.left {
        left: 15px;
      }
      &.right {
        right: 15px;
      }
    }
    input {
      font-size: 24px;
      padding: 10px 20px 10px 50px;
      height: 54px;
    }
  }
  .Movies-list {
    .alert {
      margin-top: 60px;
    }
    .normal {
      img {
        max-width: 200px;
        float: right;
      }
      .panel-heading {
        height: 60px;
      }
      .panel-body {
        height: 560px;
        overflow-y: scroll;
      }
    }
  }
  .paging {
    margin-bottom: 20px;
    button {
      margin: 0 10px;
    }
  }
  .filters {
    .checkbox {
      margin-right: 10px;
      display: inline-block;
    }

    input[type=checkbox]{
      visibility: hidden;
    }
    .label {
      color: inherit;
      font-size: inherit;
    }
  }
}
