@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";
@import "module/MovieSearch";

@import "state/Navbar";

* {
  font-family: 'Zilla Slab', serif;
}

.fancy-font {
  font-family: 'Poiret One', cursive;
}

.inline-block {
  display: inline-block;
}
