$brands: (
  broadwell: #00C853, // green
  school: #4DB6AC, // turquoise
  waycross: #8E24AA, // purp
  seymour: #2196F3, // blue
  mcmann: #FFA726, // orange

  pics: #EC407A, // pink
  completed: #D32F2F, // red
  new: #00E676, // green
  openbox: #5D4037, // brown
);

@each $brand, $color in $brands {
  // brand selection checkboxes
  input[type=checkbox]:checked ~ span.label.#{$brand} {
    background: $color;
    color: white;
    border: 2px solid $color;
  }

  input[type=checkbox]:not(:checked) ~ span.label {
    background: white;
    color: #757575;
    border: 2px solid #E0E0E0;
    border-radius: 3.5px;
  }

  // text color
  span.#{$brand}:not(.label) {
    color: $color;
  }

}
