$brands: (
  broadwell: #00C853,
  school: #4DB6AC,
  waycross: #8E24AA,
  seymour: #2196F3,
  mcmann: #FFA726,
  apcbatavia: #90CAF9,
  fticolumbus: #B388FF,
  apcphillip: #CDDC39,
  phillip: #00897B,
  majoe: #EF6C00,
  edwinmoses: #4A148C,
  flash: #6D4C41,
  newport: #81C784,
  threecd: #D4E157,
  mdseymour: #7C4DFF,

  pics: #EC407A,
  completed: #D32F2F,
  new: #00E676,
  openbox: #5D4037,
);

@each $brand, $color in $brands {
  // brand selection checkboxes
  input[type=checkbox]:checked ~ span.label.#{$brand} {
    background: $color;
    color: white;
    border: 2px solid $color;
  }

  input[type=checkbox]:not(:checked) ~ span.label {
    background: white;
    color: #757575;
    border: 2px solid #E0E0E0;
    border-radius: 3.5px;
  }

  // text color
  span.#{$brand}:not(.label) {
    color: $color;
  }
}

// default
input[type=checkbox]:checked ~ span.label {
  background: lightgrey;
  border: 2px solid lightgrey;
}
